{% extends "base.html" %}


{% block extra_css_js %}
    <script src="{{ url_for('static', filename='js/update_orders.js') }}" defer></script>
{% endblock %}


{% block top_menu %}
    <div class='header'>

        {{ super() }}

        <div class="top-nav-menu">
            <a class="menu-link" href="{{ url_for('admin.admin_dashboard') }}">Головна</a>
            <a class="menu-link" href="{{ url_for('admin.logout') }}">Вийти</a>
        </div>

    </div>
{% endblock %}


{% block content %}
    <p style="margin-left: 20px;font-style: italic;">Користувач: {{name}}</p>
    <div id="response" class="error">{{message}}</div>
    <div id="order_content" class="orders-container"></div>
{% endblock %}
