{% extends 'base.html' %}

{% block extra_css_js %}
    <script>
        const menuAdd = {{ menu_add | tojson }};
        const menuAddUa = {{ menu_add_ua | tojson }};
        const price = {{ price | tojson }};
        const dishAttributes = {{ dish_attributes | tojson }};
        const categoriesNum = {{ categories_number }};
    </script>

    <script src="{{ url_for('static', filename='js/scroll_menu.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/dragscroll.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/order.js') }}" defer></script>
{% endblock %}


{% block top_menu %}
    <div class="header">

        {{ super() }}

        <span class="top-menu-icon">
            <a href="/"><img class="top-menu-logo" src= "{{ url_for('static', filename='images/home.svg') }}"></a>
        </span>

        <div class="top-nav-menu">

            {% for category in menu %}
                {% if category in category_icons %}

                    <a class="menu-link" href="#category{{ loop.index }}">
                        <img loading="lazy" class="logo-menu" src="{{ url_for('static', filename='images/' ~ category_icons[category]) }}">
                        {{ category }}
                    </a>

                {% endif %}
            {% endfor %}

        </div>

    </div>
{% endblock %}


{% block content %}
    <div class="popup__bg">
        <div class="popup">
            <h4>Ваш столик <span id="display_table_number"></span></h4>
            <hr>
                <span id="display_dish"></span>
            <hr>
                <h3>Ваше замовлення на суму: <span id="final_sum"></span> грн.</h3>
                <button id="cancel_order">Скасувати</button>
                <button id="confirm_order">Підтверджую</button>
        </div>
    </div>

    <div class="block-table">
        <h3>Виберіть номер вашого столика</h3>

            {% for i in range(1, table_numbers+1) %}
                <span class="table-button">
                    <button class="table-btn" data-table="{{ i }}">{{ i }}</button>
                </span>
            {%endfor%}
    </div>

    <div class="block-choice-dish">
        <div class="nav-scroller">
            <nav class="nav-scroller__items dragscroll">

                {% for category in menu%}
                    <a class="nav-scr" id="pos{{ loop.index }}" href="#category{{ loop.index }}">{{ category }}</a>
                {% endfor %}

            </nav>
        </div>

        {% for category in menu %}
            <div id="category{{ loop.index }}">
                <div class="category-block"> {{ category }}</div>

                {% for code in menu[category] %}

                    {% set flags = {
                        'is_popular': code in menu['Популярне'],
                        'is_recommended': code in menu['Рекомендуємо'],
                        'category_id': 'pop' if category == 'Популярне' else 'rec' if category == 'Рекомендуємо' else ''
                    } %}

                    {% include "dish_card.html" %}

                {% endfor %}

            </div>
        {% endfor %}

    </div>
{% endblock %}


{% block footer %}
    <button id="add_order">Завершити замовлення</button>
{% endblock %}






