{% extends 'base.html' %}
{% block top_menu %}

<span class="menu-top-icon">
    <a href="/"><img class='logo_menu_top' src="/static/images/home.svg"></a>
</span>

<div class="menu-top">
    {% for category in menu%}
        {% if category == 'Популярне' %}
    <a class='menu2' href="#category{{loop.index}}"><img class='logo_menu' src="/static/images/heart.svg">Популярне</a>
        {% elif category == 'Рекомендуємо' %}
    <a class='menu2' href="#category{{loop.index}}"><img class='logo_menu' src="/static/images/star.svg">Рекомендуємо</a>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
{% block top_1 %}

<div class="popup__bg">
    <div class="popup">
        <h4>Ваш столик <span id="ftable_number"></span></h4>
        <p></p>
        <hr>
        <div style="font-style: italic;">
            <span id="fdish"></span>
        </div>
            <p></p>
            <p></p>
            <hr>
            <h3>Ваше замовлення на суму: <span id="final_sum"></span> грн.</h3>
            <p></p>
            <p></p>
            <p></p>
            <button id="cancel_order" onclick="cancelOrder()">Скасувати</button>
            <button id="confirm_order" onclick="sendOrder()">Підтверджую</button>
        </div>
</div>

<div id="block_table">
    <h3>Виберіть номер вашого столика</h3>
        {% for i in range(1, table_numbers+1) %}
    <span class="table_button">
        <button onclick="choiceOfTable('{{i}}', {{describe_dish}}, {{price}}, {{menu_add}}, {{menu_add_ua}})"
            type="button" class="table_btn">{{i}}
        </button>
    </span>
    {%endfor%}
</div>

<div id="block_choice_dish">
    <div class="nav-scroller">
        <nav class="nav-scroller__items dragscroll">
            {% for category in menu%}
            <a class="nav-scr ba1" id='pos{{ loop.index }}'
               href="#category{{loop.index}}">{{category}}</a>
            {% endfor %}
        </nav>
    </div>
        {% for category in menu %}
    <div id='category{{loop.index}}'>
        <div class="bl_name"> {{category}}</div>

            {% for code in menu[category] %}
                {% if code in menu['Популярне'] %}
                    {% set add_pop = "pop" %}
                {% endif %}

                {% if code in menu['Рекомендуємо'] %}
                    {% set add_rec = "rec" %}
                {% endif %}

                {% if category == 'Популярне' %}
                     {% set add_id = "pop" %}
                 {% elif category == 'Рекомендуємо' %}
                     {% set add_id = "rec" %}
                {% endif %}

                {% include "dish_card.html" %}
            {% endfor %}
    </div>
        {% endfor %}



<script>

const navItems = document.querySelector('.nav-scroller__items');
    {% for j in range(1, num_category+1) %}
        const butt{{j}} = document.querySelector("#pos{{j}}");
        const bodyElement{{j}} = document.querySelector("#category{{j}}");
        const containerRect{{j}} = bodyElement{{j}}.getBoundingClientRect();
        const navItemB{{j}}Rect = butt{{j}}.getBoundingClientRect().left;
    {% endfor %}

function changeCss() {
    const sections = [
        {% for i in range(1, num_category+1) %}
            { rect: containerRect{{i}}, button: butt{{i}}, nav: navItemB{{i}}Rect },
        {% endfor %}
    ];

    const scrollY = this.scrollY;

    for (const { rect, button, nav } of sections) {
        if (scrollY > rect.top - 10 && scrollY < rect.bottom) {
              scrNav(nav);
              sections.forEach(({ button: btn }) => btn.classList.remove("butcol"));
              button.classList.add("butcol");
              break;
        }
    }
};

window.addEventListener("scroll", changeCss , false);

function scrNav(ba) {
    navItems.scrollLeft = ba - 200;
};


let popupBg = document.querySelector('.popup__bg');
let popup = document.querySelector('.popup');
let openPopupButtons = document.querySelectorAll('.show_final_order');
let hideAccordion = document.querySelector('.accordion');

openPopupButtons.forEach((button) => {
    button.addEventListener('click', (e) => {
        e.preventDefault();
        popupBg.classList.add('active');
        popup.classList.add('active');
        hideAccordion.classList.add('hide');
   })
});

</script>

    <div id="footer">
        <p>
            <button id="add-order1111" onclick="choiceTable()">Завершити замовлення</button>
        </p>

    </div>
</div>

{% endblock %}




