<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
        <link href="/static/css/cafe_web.css" rel="stylesheet">
</head>
<body style="margin: 0;">
    <img  src='/{{img}}' style="width: 100%">
        <div id="like_desc1" style="margin-left: 20px;">
            <button class="like_desc" onclick="chLikeIc()">
            <img id="ic_l_w" class='iconLM_desc' src="/static/images/likeW.jpg">  {{likes}} переглядів: {{views}}
                </button>
        </div>
<p></p>

  <p style="padding-left: 20px; padding-bottom: 50px; padding-right: 20px;">  {{describe}}</p>
    <button id="img_button" onclick="window.close()"><img class="ibc"  src="/static/images/exit1.png"></button>
<script>
function chLikeIc() {
    var like2 = document.getElementById('like_desc1');
    var add_like = {{id}};
    likePost(add_like);
    like2.innerHTML = "<img class='iconLM_desc' src='/static/images/likeB.jpg'> {{likes+1}} переглядів: {{views}}";
};

function likePost(add_like) {
    fetch("/post-order-like", {
        method: "POST",
        body: JSON.stringify(add_like),  headers: {
        "Content-type": "application/json; charset=UTF-8"
        }
    });
}

</script>
 <div id="footer">
            <button id="to_order_button" onclick="window.close()">Повернутись</button>
    </div>
</body>
</html>
