<div class="card-wrap">
    <a class="dish-card" href="{{ url_for('users.display_dish', dish_code=code) }}" target="_blank">
        <div class="card-box">
            <div class="card-cont">
                <div class="card-name">{{ dish_attributes[code][0] }}</div>
                <div class="card-price">{{ price[code ]}} грн.

                    {% if flags.is_popular %}
                        <img class="d_icon" src="{{ url_for('static', filename='images/love.jpg') }}" alt="Популярне">
                    {% endif %}

                    {% if flags.is_recommended %}
                        <img class="d_icon" src="{{ url_for('static', filename='images/star.svg') }}" alt="Рекомендуємо">
                    {% endif %}

                    <img class="d_icon_LM" src="{{ url_for('static', filename='images/likeW.jpg') }}" alt="Лайк">
                    <span class="num_like_menu"> {{dish_attributes[code][3]}}</span>
                </div>

                <div class="card-descr">{{ dish_attributes[code][1] }}</div>
            </div>
            <img class="card-image" src="/{{ dish_attributes[code][2] }}" loading="lazy">
        </div>
    </a>

    <select class="amount"
            name="select_amount"
            id="{{ code }}{{ flags.category_id }}"
            data-code="{{code}}">

        <option disabled selected>Замовити</option>

        {% for v in range(1,12) %}
            <option value='{{ v }}'>{{ v }} порц.</option>
        {% endfor %}

    </select>

    {% if code in menu_add: %}
        <div>
            <div class="notes">Додати:</div>
            <nav class="nav-scroller__items nav-scrol-add dragscroll">

                {% for name, price in menu_add[code].items() %}
                    <button class="nav-scr-add {{'add_ch_' + code}}"
                            id="{{ name }}_{{ flags.category_id }}"
                            data-code="{{ code }}"
                            data-description="{{ dish_attributes[code][0] }}">

                        <div class="card-name-add">{{menu_add_ua[code][name]}}</div>
                        <div class="card-price-add">{{ price }} грн.</div>
                    </button>
                {%endfor%}

            </nav>
        </div>
    {% endif %}

</div>

