<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="static/css/cafe_web.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

<script type="text/javascript" src="static/js/cafe_web.js"></script>
</head>
<body style="margin: 0;">


<div class='header1_f'>
    <a href="/"><img id='logo' src="static/images/cafe1.png" alt="Cafe"></a>
<span class="menu-top-icon">
<a  href="facebook"><img class='logo_menu_top' src="static/images/facebook.svg"></a>
<a  href="insta"><img class='logo_menu_top' src="static/images/insta.svg"></a>
</span>

    <div class="menu-top">
        <a class='menu2_f' href="/"><img class='logo_menu_f' src="static/images/home.svg">На головну</a>
        <a class='menu2_f' href="choice-dish"><img class='logo_menu_f' src="static/images/hot.svg">Меню</a>
    </div>

</div>

<div class="container">
<p></p>
    <h4 style="color:red">{{message_fault}}</h4>
    <div style="font-size: 16px;font-weight: 700;line-height: 1.1;"> {{message_ok}}</div>
    <div class="m_d">{{m_d}}</div>
    <hr>

    {% if not message_fault %}

    <p style="font-size: 14px;font-style: italic;line-height: 1.2;font-weight: 600;"> Залиште, будь ласка, свій відгук, що сподобалося і що нам слід виправити.</p>
<form enctype="multipart/form-data" method="post" action="{{url_for('users.upload_comment')}}" >
      <div style="font-weight: 700;
  font-size: 14px;">Ваше ім'я:&nbsp; <input required type="text" name="comm_name"></div>

    <div>
    <label style="font-weight: 700;
  font-size: 14px;" for="dish_descr_f">Ваш коментар:</label>
      <div><textarea  style="width: 100%;line-height: 1.2; height: 100px;
  overflow:hidden; font-size: 14px;" id="dish_descr_f" name="comm_text" placeholder="Опишіть ваші враження ...."></textarea></div>
  </div>

  <div><p></p><p></p>
    <button class="green_button">Надіслати</button>
  </div>
</form>

    {% endif %}

</div>

<script>
var textarea = document.querySelector('textarea');

textarea.addEventListener('keyup', function(){
	if(this.scrollTop > 0){
		this.style.height = this.scrollHeight + "px";
    }
});
</script>

</body>
</html>